@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark-cyan: hsl(185, 75%, 39%);
  --primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --primary-dark-grayish-blue: hsl(227, 10%, 46%);
  --neutral-dark-gray: hsl(0, 0%, 59%);
}

body{
  background-color: var(--primary-dark-cyan);
  background-image: url(../public/assets/bg-pattern-top.svg), url(../public/assets/bg-pattern-bottom.svg);
  background-position: left -100px top -400px, right -100px bottom -400px;
  background-size: 55vw;
  background-repeat: no-repeat;
}
